In [ ]:
from prehook import execute_prehook

execute_prehook()

In [1]:
from database_handler import return_data_as_df
from lookups import InputTypes
import pandas as pd
path = r"csv_tables/test.csv"
df = return_data_as_df(path,InputTypes.CSV)
pd.set_option('display.max_columns', None)

c:\Users\Admin\Desktop\SEF-Final-Project-NYC-Accidents-Analysis\database_handler.py:41: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  return_dataframe = pd.read_csv(file_executor)

In [2]:
df['BOROUGH'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2033266 entries, 0 to 2033265
Series name: BOROUGH
Non-Null Count    Dtype
--------------    -----
1400723 non-null  object
dtypes: object(1)
memory usage: 15.5+ MB

In [ ]:
df[df['NUMBER_OF_MOTORIST_INJURED'].isna()]

In [ ]:
df['NUMBER_OF_PERSONS_INJURED'].info()

In [3]:
from cleaning_dfs_handler import clean_nyc_traffic_data
df = clean_nyc_traffic_data(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1913776 entries, 0 to 2033265
Data columns (total 32 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH_DATE                     datetime64[ns]
 1   CRASH_TIME                     object
 2   BOROUGH                        object
 3   ZIP_CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON_STREET_NAME                 object
 8   CROSS_STREET_NAME              object
 9   OFF_STREET_NAME                object
 10  NUMBER_OF_PERSONS_INJURED      float64
 11  NUMBER_OF_PERSONS_KILLED       float64
 12  NUMBER_OF_PEDESTRIANS_INJURED  int64
 13  NUMBER_OF_PEDESTRIANS_KILLED   int64
 14  NUMBER_OF_CYCLIST_INJURED      int64
 15  NUMBER_OF_CYCLIST_KILLED       int64
 16  NUMBER_OF_MOTORIST_INJURED     int64
 17  NUMBER_OF_MOTORIST_KILLED      int64
 18  CONTRIBUTING_FACTOR_VEHICLE_1  object
 19  CONTRIBUTING_FACTOR_VEHICLE_2  object
 20  CONTRIBUTING_FACTOR_VEHICLE_3  object
 21  CONTRIBUTING_FACTOR_VEHICLE_4  object
 22  CONTRIBUTING_FACTOR_VEHICLE_5  object
 23  COLLISION_ID                   int64
 24  VEHICLE_TYPE_CODE_1            object
 25  VEHICLE_TYPE_CODE_2            object
 26  VEHICLE_TYPE_CODE_3            object
 27  VEHICLE_TYPE_CODE_4            object
 28  VEHICLE_TYPE_CODE_5            object
 29  STREET                         object
 30  TOTAL_VICTIMS                  float64
 31  PART_OF_DAY                    category
dtypes: category(1), datetime64[ns](1), float64(5), int64(7), object(18)
memory usage: 469.1+ MB

In [ ]:
df['VEHICLE_TYPE_CODE_1'].fillna('Unspecified', inplace=True)

In [5]:
df[df['TOTAL_VICTIMS'].isna()]

Empty DataFrame
Columns: [CRASH_DATE, CRASH_TIME, BOROUGH, ZIP_CODE, LATITUDE, LONGITUDE, LOCATION, ON_STREET_NAME, CROSS_STREET_NAME, OFF_STREET_NAME, NUMBER_OF_PERSONS_INJURED, NUMBER_OF_PERSONS_KILLED, NUMBER_OF_PEDESTRIANS_INJURED, NUMBER_OF_PEDESTRIANS_KILLED, NUMBER_OF_CYCLIST_INJURED, NUMBER_OF_CYCLIST_KILLED, NUMBER_OF_MOTORIST_INJURED, NUMBER_OF_MOTORIST_KILLED, CONTRIBUTING_FACTOR_VEHICLE_1, CONTRIBUTING_FACTOR_VEHICLE_2, CONTRIBUTING_FACTOR_VEHICLE_3, CONTRIBUTING_FACTOR_VEHICLE_4, CONTRIBUTING_FACTOR_VEHICLE_5, COLLISION_ID, VEHICLE_TYPE_CODE_1, VEHICLE_TYPE_CODE_2, VEHICLE_TYPE_CODE_3, VEHICLE_TYPE_CODE_4, VEHICLE_TYPE_CODE_5, STREET, TOTAL_VICTIMS, PART_OF_DAY]
Index: []

In [ ]:

df.head(20)

In [ ]:
filtered_df = df[df['BOROUGH'].isna()]
filtered_df

In [ ]:
df.dropna(subset=['BOROUGH'], inplace=True)

In [ ]:
df['BOROUGH'].unique()

In [ ]:
df[df['BOROUGH']=='OTHER']

review with zahi

In [ ]:
import pandas as pd
from cleaning_dfs_handler import zipcode_to_borough_mapping, trim_spaces_in_df

# df['ZIP CODE'] = df['ZIP CODE'].astype(str)
df= trim_spaces_in_df(df)

def replace_null_borough_with_zipcode(df, zipcode_dic):
   for index, row in df.iterrows():
      if pd.isna(row['BOROUGH']) and not pd.isna(row['ZIP CODE']):
            zipcode = row['ZIP CODE']
            if zipcode in zipcode_dic:
               df.at[index, 'BOROUGH'] = zipcode_dic[zipcode]
   return df


df = replace_null_borough_with_zipcode(df,zipcode_to_borough_mapping)

In [ ]:
df.head()

In [ ]:
df['BOROUGH'].info()

In [ ]:
df.sort_values(by=["CRASH_DATE", "CRASH_TIME"], ascending=[False, False], inplace=True)

In [ ]:
df.head(10)

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
df.sort_values(by=["CRASH_DATE", "CRASH_TIME"], ascending=[False, False], inplace=True)
df.head()

In [ ]:
df['CRASH_TIME'] = pd.to_datetime(df['CRASH_TIME'])

In [ ]:
df['VEHICLE_TYPE_CODE_1'].unique()

In [ ]:
from database_handler import create_connection
db_session = create_connection()

In [ ]:
df.columns

In [ ]:
df.head()

new column (street) to display the street name

In [ ]:
import pandas as pd


df['STREET'] = df['ON_STREET_NAME'].fillna(df['OFF_STREET_NAME']).fillna('Unspecified')

total victims

In [ ]:
df['TOTAL_VICTIMS'] = df['NUMBER_OF_PERSONS_KILLED'] + df['NUMBER_OF_PERSONS_INJURED']

binning the time interval

In [ ]:

intervals = [(0, 4), (4, 8), (8, 12), (12, 16), (16, 20), (20, 24)]
labels = ['Late Night', 'Early Morning', 'Morning', 'Noon', 'Evening', 'Night']

# Categorize the times
df['PART_OF_DAY'] = pd.cut(df['CRASH_TIME'].apply(lambda x: x.hour), bins=[x[0] for x in intervals] + [intervals[-1][1]], labels=labels)

In [ ]:
df.columns

In [ ]:
df[df['CONTRIBUTING_FACTOR_VEHICLE_1'].isna()]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
df['CONTRIBUTING_FACTOR_VEHICLE_1'] = df['CONTRIBUTING_FACTOR_VEHICLE_1'].fillna('Unspecified')

In [ ]:
df['CONTRIBUTING_FACTOR_VEHICLE_1'].unique()

In [ ]:
filtered_df.shape

In [ ]:
df.head(50)

BOROUGH

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)
filtered_df = df[df['CRASH_DATE'] == '10/10/2023']
filtered_df