In [ ]:
from prehook import execute_prehook

execute_prehook()

In [1]:
from database_handler import return_data_as_df
from lookups import InputTypes
path = r"csv_tables/test.csv"
df = return_data_as_df(path,InputTypes.CSV)

c:\Users\Admin\Desktop\SEF-Final-Project-NYC-Accidents-Analysis\database_handler.py:41: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  return_dataframe = pd.read_csv(file_executor)

In [2]:
df.head(15)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
5,04/14/2021,12:47,NaN,NaN,NaN,NaN,NaN,MAJOR DEEGAN EXPRESSWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4407458,Dump,Sedan,NaN,NaN,NaN
6,12/14/2021,17:05,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
7,12/14/2021,8:17,BRONX,10475.0,40.868160,-73.831480,"(40.86816, -73.83148)",NaN,NaN,344 BAYCHESTER AVENUE,...,Unspecified,NaN,NaN,NaN,4486660,Sedan,Sedan,NaN,NaN,NaN
8,12/14/2021,21:10,BROOKLYN,11207.0,40.671720,-73.897100,"(40.67172, -73.8971)",NaN,NaN,2047 PITKIN AVENUE,...,Unspecified,NaN,NaN,NaN,4487074,Sedan,NaN,NaN,NaN,NaN
9,12/14/2021,14:58,MANHATTAN,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
10,12/13/2021,0:34,NaN,NaN,40.701275,-73.888870,"(40.701275, -73.88887)",MYRTLE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4486934,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
11,12/14/2021,16:50,QUEENS,11413.0,40.675884,-73.755770,"(40.675884, -73.75577)",SPRINGFIELD BOULEVARD,EAST GATE PLAZA,NaN,...,Unspecified,NaN,NaN,NaN,4487127,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,12/14/2021,8:30,NaN,NaN,NaN,NaN,NaN,broadway,west 80 street -west 81 street,NaN,...,Unspecified,NaN,NaN,NaN,4486634,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
13,12/14/2021,0:59,NaN,NaN,40.596620,-74.002310,"(40.59662, -74.00231)",BELT PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4486564,Sedan,NaN,NaN,NaN,NaN
14,12/14/2021,23:10,QUEENS,11434.0,40.666840,-73.789410,"(40.66684, -73.78941)",NORTH CONDUIT AVENUE,150 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4486635,Sedan,Sedan,NaN,NaN,NaN

In [3]:
import pandas as pd
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'])
df["CRASH TIME"] = pd.to_datetime(df["CRASH TIME"], format="%H:%M").dt.time

In [4]:
df.sort_values(by=["CRASH DATE", "CRASH TIME"], ascending=[False, False], inplace=True)

In [5]:
df.head(10)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1996138,2023-10-10,23:38:00,BRONX,10462.0,40.838870,-73.863750,"(40.83887, -73.86375)",NaN,NaN,1533 WHITE PLAINS ROAD,...,Unspecified,NaN,NaN,NaN,4669652,Sedan,Sedan,NaN,NaN,NaN
1996049,2023-10-10,23:30:00,NaN,NaN,40.821380,-73.862980,"(40.82138, -73.86298)",LAFAYETTE AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4669655,Box Truck,NaN,NaN,NaN,NaN
1996528,2023-10-10,23:30:00,NaN,NaN,40.745020,-73.715775,"(40.74502, -73.715775)",255 STREET,UNION TURNPIKE,NaN,...,Following Too Closely,NaN,NaN,NaN,4669531,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1996565,2023-10-10,23:24:00,BRONX,10475.0,40.870014,-73.832436,"(40.870014, -73.832436)",BAYCHESTER AVENUE,ALDRICH STREET,NaN,...,Unspecified,NaN,NaN,NaN,4669836,Sedan,Sedan,NaN,NaN,NaN
1996529,2023-10-10,22:52:00,BROOKLYN,11234.0,40.634483,-73.918860,"(40.634483, -73.91886)",GLENWOOD ROAD,RALPH AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4669583,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1996116,2023-10-10,22:51:00,BROOKLYN,11237.0,40.708733,-73.932730,"(40.708733, -73.93273)",NaN,NaN,110 MORGAN AVENUE,...,Unspecified,NaN,NaN,NaN,4669985,Van,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1996200,2023-10-10,22:45:00,QUEENS,11429.0,40.711628,-73.729385,"(40.711628, -73.729385)",HEMPSTEAD AVENUE,225 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4669454,Sedan,Sedan,NaN,NaN,NaN
1996182,2023-10-10,22:37:00,QUEENS,11369.0,40.761810,-73.868300,"(40.76181, -73.8683)",ASTORIA BOULEVARD,101 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4669743,Motorcycle,Bus,NaN,NaN,NaN
1996101,2023-10-10,22:35:00,NaN,NaN,40.677746,-73.730960,"(40.677746, -73.73096)",LAURELTON PARKWAY,NaN,NaN,...,Unspecified,Unspecified,Unspecified,NaN,4669522,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Pick-up Truck,NaN
1996619,2023-10-10,21:55:00,BROOKLYN,11213.0,40.668797,-73.931130,"(40.668797, -73.93113)",UTICA AVENUE,EASTERN PARKWAY,NaN,...,NaN,NaN,NaN,NaN,4669581,Sedan,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
df.sort_values(by=["CRASH_DATE", "CRASH_TIME"], ascending=[False, False], inplace=True)
df.head()

In [ ]:
df['CRASH_TIME'] = pd.to_datetime(df['CRASH_TIME'])

In [ ]:
df['VEHICLE_TYPE_CODE_1'].unique()

In [ ]:
from database_handler import create_connection
db_session = create_connection()

In [ ]:
from cleaning_dfs_handler import clean_nyc_traffic_data
df = clean_nyc_traffic_data(df)

In [ ]:
df.columns

In [ ]:
df.head()

new column (street) to display the street name

In [ ]:
import pandas as pd


df['STREET'] = df['ON_STREET_NAME'].fillna(df['OFF_STREET_NAME']).fillna('Unspecified')

total victims

In [ ]:
df['TOTAL_VICTIMS'] = df['NUMBER_OF_PERSONS_KILLED'] + df['NUMBER_OF_PERSONS_INJURED']

binning the time interval

In [ ]:

intervals = [(0, 4), (4, 8), (8, 12), (12, 16), (16, 20), (20, 24)]
labels = ['Late Night', 'Early Morning', 'Morning', 'Noon', 'Evening', 'Night']

# Categorize the times
df['PART_OF_DAY'] = pd.cut(df['CRASH_TIME'].apply(lambda x: x.hour), bins=[x[0] for x in intervals] + [intervals[-1][1]], labels=labels)

In [ ]:
df.columns

In [ ]:
df[df['CONTRIBUTING_FACTOR_VEHICLE_1'].isna()]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
df['CONTRIBUTING_FACTOR_VEHICLE_1'] = df['CONTRIBUTING_FACTOR_VEHICLE_1'].fillna('Unspecified')

In [ ]:
df['CONTRIBUTING_FACTOR_VEHICLE_1'].unique()

In [ ]:
filtered_df.shape

In [ ]:
df.head(50)