In [1]:
from prehook import execute_prehook

execute_prehook()

Working on: Download and read

c:\Users\Admin\Desktop\SEF-Final-Project-NYC-Accidents-Analysis\misc_handler.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(local_file_path)

Done: Download and read
Working on: cleaning df
Done: Cleaning df
Createing create statement query
Executing create statment query
Created staging tables
Creating insert into staging tables from df
inserting data into stg
Success

In [4]:
df.head(5)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [3]:
from database_handler import return_data_as_df
from lookups import InputTypes
path = r"csv_tables/test.csv"
df = return_data_as_df(path,InputTypes.CSV)

c:\Users\Admin\Desktop\SEF-Final-Project-NYC-Accidents-Analysis\database_handler.py:41: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  return_dataframe = pd.read_csv(file_executor)

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
df.head()

In [ ]:
df['VEHICLE_TYPE_CODE_1'].unique()

In [ ]:
from database_handler import create_connection
db_session = create_connection()

In [ ]:
from cleaning_dfs_handler import clean_nyc_traffic_data
df = clean_nyc_traffic_data(df)

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df'

# Create the 'STREET' column based on the conditions you mentioned
df['STREET'] = df['ON_STREET_NAME'].fillna(df['OFF_STREET_NAME']).fillna('Unspecified')

In [ ]:
df['TOTAL_VICTIMS'] = df['NUMBER_OF_PERSONS_KILLED'] + df['NUMBER_OF_PERSONS_INJURED']

In [ ]:

intervals = [(0, 4), (4, 8), (8, 12), (12, 16), (16, 20), (20, 24)]
labels = ['Late Night', 'Early Morning', 'Morning', 'Noon', 'Evening', 'Night']

# Categorize the times
df['PART_OF_DAY'] = pd.cut(df['CRASH_TIME'].apply(lambda x: x.hour), bins=[x[0] for x in intervals] + [intervals[-1][1]], labels=labels)

In [ ]:
df.columns

In [ ]:
df[df['CONTRIBUTING_FACTOR_VEHICLE_1'].isna()]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
df['CONTRIBUTING_FACTOR_VEHICLE_1'] = df['CONTRIBUTING_FACTOR_VEHICLE_1'].fillna('Unspecified')

In [ ]:
df['CONTRIBUTING_FACTOR_VEHICLE_1'].unique()

In [ ]:
filtered_df.shape

In [ ]:
df.head(50)