In [ ]:
from prehook import execute_prehook

execute_prehook()

In [2]:
from database_handler import return_data_as_df
from lookups import InputTypes
import pandas as pd
path = r"csv_tables/test.csv"
df = return_data_as_df(path,InputTypes.CSV)
pd.set_option('display.max_columns', None)

c:\Users\Admin\Desktop\SEF-Final-Project-NYC-Accidents-Analysis\database_handler.py:41: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  return_dataframe = pd.read_csv(file_executor)

In [3]:
from cleaning_dfs_handler import clean_nyc_traffic_data
df = clean_nyc_traffic_data(df)

In [4]:

df.shape

(1913776, 32)

In [ ]:
df[df['PART_OF_DAY'].isna()]

In [ ]:
df['PART_OF_DAY'].info()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2033266 entries, 0 to 2033265
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 449.9+ MB

In [ ]:
df['VEHICLE_TYPE_CODE_1'].fillna('Unspecified', inplace=True)

In [ ]:
df[df['TOTAL_VICTIMS'].isna()]

In [5]:

df.head(-10)

,CRASH_DATE,CRASH_TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,OFF_STREET_NAME,NUMBER_OF_PERSONS_INJURED,NUMBER_OF_PERSONS_KILLED,NUMBER_OF_PEDESTRIANS_INJURED,NUMBER_OF_PEDESTRIANS_KILLED,NUMBER_OF_CYCLIST_INJURED,NUMBER_OF_CYCLIST_KILLED,NUMBER_OF_MOTORIST_INJURED,NUMBER_OF_MOTORIST_KILLED,CONTRIBUTING_FACTOR_VEHICLE_1,CONTRIBUTING_FACTOR_VEHICLE_2,CONTRIBUTING_FACTOR_VEHICLE_3,CONTRIBUTING_FACTOR_VEHICLE_4,CONTRIBUTING_FACTOR_VEHICLE_5,COLLISION_ID,VEHICLE_TYPE_CODE_1,VEHICLE_TYPE_CODE_2,VEHICLE_TYPE_CODE_3,VEHICLE_TYPE_CODE_4,VEHICLE_TYPE_CODE_5,STREET,TOTAL_VICTIMS,PART_OF_DAY
0,2023-10-10,23:38:00,BRONX,10462.0,40.838870,-73.863750,"(40.83887, -73.86375)",NaN,NaN,1533 WHITE PLAINS ROAD,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4669652,Sedan,Sedan,NaN,NaN,NaN,1533 WHITE PLAINS ROAD,0.0,Night
1,2023-10-10,23:30:00,BROOKLYN,0,40.821380,-73.862980,"(40.82138, -73.86298)",LAFAYETTE AVENUE,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,4669655,Box Truck,NaN,NaN,NaN,NaN,LAFAYETTE AVENUE,0.0,Night
2,2023-10-10,23:30:00,QUEENS,0,40.745020,-73.715775,"(40.74502, -73.715775)",255 STREET,UNION TURNPIKE,NaN,1.0,0.0,0,0,0,0,1,0,Other Vehicular,Following Too Closely,NaN,NaN,NaN,4669531,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,255 STREET,1.0,Night
3,2023-10-10,23:24:00,BRONX,10475.0,40.870014,-73.832436,"(40.870014, -73.832436)",BAYCHESTER AVENUE,ALDRICH STREET,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,4669836,Sedan,Sedan,NaN,NaN,NaN,BAYCHESTER AVENUE,1.0,Night
4,2023-10-10,22:52:00,BROOKLYN,11234.0,40.634483,-73.918860,"(40.634483, -73.91886)",GLENWOOD ROAD,RALPH AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4669583,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,GLENWOOD ROAD,1.0,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2033247,2012-07-01,01:00:00,BRONX,10456,40.828729,-73.914723,"(40.8287288, -73.9147231)",EAST 165 STREET,FINDLAY AVENUE,NaN,1.0,0.0,0,0,0,0,1,0,Physical Disability,Unspecified,NaN,NaN,NaN,85161,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,EAST 165 STREET,1.0,Late Night
2033248,2012-07-01,01:00:00,QUEENS,11434,40.679937,-73.776362,"(40.6799371, -73.7763624)",BAISLEY BOULEVARD,167 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,268099,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,BAISLEY BOULEVARD,0.0,Late Night
2033249,2012-07-01,00:45:00,QUEENS,11434,40.670701,-73.773654,"(40.670701, -73.7736537)",140 AVENUE,BREWER BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,Unspecified,NaN,NaN,268102,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,140 AVENUE,0.0,Late Night
2033250,2012-07-01,00:45:00,MANHATTAN,10022,40.758976,-73.964503,"(40.7589756, -73.9645027)",EAST 57 STREET,QUEENSBORO BRIDGE APPROACH,NaN,0.0,0.0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,32049,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,EAST 57 STREET,0.0,Late Night
2033251,2012-07-01,00:45:00,QUEENS,11416,40.681047,-73.849300,"(40.6810466, -73.8493003)",103 AVENUE,90 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Reaction to Other Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,203710,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,103 AVENUE,0.0,Late Night

In [ ]:
filtered_df = df[df['BOROUGH'].isna()]
filtered_df

In [ ]:
df.dropna(subset=['BOROUGH'], inplace=True)

In [ ]:
df['BOROUGH'].unique()

In [ ]:
df[df['BOROUGH']=='OTHER']

review with zahi

In [ ]:
import pandas as pd
from cleaning_dfs_handler import zipcode_to_borough_mapping, trim_spaces_in_df

# df['ZIP CODE'] = df['ZIP CODE'].astype(str)
df= trim_spaces_in_df(df)

def replace_null_borough_with_zipcode(df, zipcode_dic):
   for index, row in df.iterrows():
      if pd.isna(row['BOROUGH']) and not pd.isna(row['ZIP CODE']):
            zipcode = row['ZIP CODE']
            if zipcode in zipcode_dic:
               df.at[index, 'BOROUGH'] = zipcode_dic[zipcode]
   return df


df = replace_null_borough_with_zipcode(df,zipcode_to_borough_mapping)

In [ ]:
df.head()

In [ ]:
df['BOROUGH'].info()

In [ ]:
df.sort_values(by=["CRASH_DATE", "CRASH_TIME"], ascending=[False, False], inplace=True)

In [ ]:
df.head(10)

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
df.sort_values(by=["CRASH_DATE", "CRASH_TIME"], ascending=[False, False], inplace=True)
df.head()

In [ ]:
df['CRASH_TIME'] = pd.to_datetime(df['CRASH_TIME'])

In [ ]:
df['VEHICLE_TYPE_CODE_1'].unique()

In [ ]:
from database_handler import create_connection
db_session = create_connection()

In [ ]:
df.columns

In [ ]:
df.head()

new column (street) to display the street name

In [ ]:
import pandas as pd


df['STREET'] = df['ON_STREET_NAME'].fillna(df['OFF_STREET_NAME']).fillna('Unspecified')

total victims

In [ ]:
df['TOTAL_VICTIMS'] = df['NUMBER_OF_PERSONS_KILLED'] + df['NUMBER_OF_PERSONS_INJURED']

binning the time interval

In [ ]:

intervals = [(0, 4), (4, 8), (8, 12), (12, 16), (16, 20), (20, 24)]
labels = ['Late Night', 'Early Morning', 'Morning', 'Noon', 'Evening', 'Night']

# Categorize the times
df['PART_OF_DAY'] = pd.cut(df['CRASH_TIME'].apply(lambda x: x.hour), bins=[x[0] for x in intervals] + [intervals[-1][1]], labels=labels)

In [ ]:
df.columns

In [ ]:
df[df['CONTRIBUTING_FACTOR_VEHICLE_1'].isna()]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
df['CONTRIBUTING_FACTOR_VEHICLE_1'] = df['CONTRIBUTING_FACTOR_VEHICLE_1'].fillna('Unspecified')

In [ ]:
df['CONTRIBUTING_FACTOR_VEHICLE_1'].unique()

In [ ]:
filtered_df.shape

In [ ]:
df.head(50)

BOROUGH

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)
filtered_df = df[df['CRASH_DATE'] == '10/10/2023']
filtered_df